/* Сброс всего. Начальная настройка */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
}

/* обложка всего контента */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* ограничивающий контейнер для всех случаев */
._container {
    max-width: 78%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}


/* ---------------------header-------------------------------------------- */


.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 22;
    background-color: black;
    font-family: Inter, sans-serif;

}

/* Плашка для бургер меню */
.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
}

.header_logo {
    position: relative;
    z-index: 3;
    font-size: 40px;
    font-weight: 700;
}

.menu {
    width: 69%;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    /* чтобы выводить меню поверх плашки при уменьшении экрана */
}

.menu_list li {
    width: 91%;
    margin: 0px 0px 0px 15px;
    /* Равняем отступ с логотипом, который задан у логотипа паддингом контейнера - 15 пкс, делаем марджин у каждого ли - 15пск */
}

/* Ссылка "Контакт" */
li:last-child {

    border: 1px solid #098A5B;
    background-color: transparent;
    color: #098A5B;
    padding: 15px 15px 15px 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

}


li:last-child:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/* Меню ховер */

.menu_link:hover {

    border-bottom: 2px solid #098A5B;
    transition: all .4s ease-in-out;
    color: #30dd8a;
    box-shadow: 0px 1px 28px 30px 0 rgba(23, 168, 108, 0.75);

}

.burger_menu {
    display: none;
}

.search {
    z-index: 3;
    margin-left: 16px;
}

.group {
    display: flex;
    justify-content: flex-end;
    width: 91%;
    align-items: center;

}

.header_bodyWrapp {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (max-width: 784px) {

    .header_logo {
        font-size: 1.7rem;
    }

    /* не даем скроллить страницу во время открытого меню бургера */
    body.lock {
        overflow: hidden;
    }

    /* Создаем бургер меню в маленьком экране */
    .burger_menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .burger_menu::before,
    .burger_menu::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger_menu::before {
        top: 0;
    }

    .burger_menu::after {
        bottom: 0;
    }

    .burger_menu span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    /* разворачиваем класс, который создается в JS файле "актив" с плашками, которые мы создали ранее before и after, чтобы менять символ из трех полос на крест в активном состоянии */
    .burger_menu.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger_menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger_menu.active span {
        transform: scale(0);
    }

    /* подгоняем меню в маленьком экране */
    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: auto;
        background: rgb(9, 138, 91);
        background: radial-gradient(circle, rgba(9, 138, 91, 1) 0%, rgba(0, 0, 0, 1) 60%);
        padding: 70px 0 0 0;
        /* делаем отступ сверху, чтобы изменить позицию меню ниже */
        transition: all 0.2s ease 0s;
        overflow: auto;
    }

    .menu.active {
        top: 0;
    }

    .header_body {
        height: 50px;
    }

    .menu_list {
        display: block;
    }

    .menu_list li {
        margin: 0px 0px 20px 15px;
        /* добавляем марджин для отступа вниз между пунктами меню в бургерном виде */
    }

    .menu_link {
        font-size: 24px;
    }
}


/* ----------------------------"WE ARE DIGITAL AGENCY" SECTION --------------------------*/

.da_section {
    padding-top: 190px;
    background-image: url('./resources/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

@media screen and (max-width: 866px) {

    .text {

        align-items: center;
    }


    .text h1 {
        text-align: center;
    }
}


.text {
    display: flex;
    flex-direction: column;

}

.text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #098A5B;
    text-transform: uppercase;
}

.text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 35px;
}

.getStart {
    border: 1px solid #098A5B;
    background-color: transparent;
    color: #098A5B;
    width: 193px;
    height: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.getStart:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    cursor: pointer;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2rem 0 2rem 0;
}

.box {
    background: #313131;
    border: 2px solid #098A5B;
    display: flex;
    flex-direction: column;
    width: 294px;
    min-height: 240px;
    padding: 25px 25px 25px 14px;
    gap: 25px;
    position: relative;
}

.box_img {
    display: block;
    max-width: 58px;
    max-height: 58px;

}

.box_h {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    position: relative;
}

/* Создать линию снизу с помощью псевдокласса after */
.box_h::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #098A5B;
    width: 73px;
    height: 2px;
    margin-top: 12px;
}

.box_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 1301px) {
    .boxes {
        justify-content: space-around;
    }
}

/* ---------------------------- Services section --------------------------*/

.services {
    background-color: #1E1E1E;
    height: fit-content;
}

/* Services, Works, About, Testimonals sections */
.section_p {
    text-transform: uppercase;
    color: #098A5B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
}

.section_h {
    margin-left: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: white;
}


.section_text {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    position: relative;
    margin-bottom: 35px;
    width: 50%;
}

.section_text::before {
    content: '';
    position: absolute;
    background-color: #098A5B;
    width: 72px;
    height: 2px;
    bottom: 53px;

}

/*------------------------------------------------------------------ */

.services_item {
    width: 341px;
    min-height: 299px;
    background: #313131;
    border: 2px solid #098A5B;
    padding: 50px 20px 60px 30px;

}

.services_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 13rem;
    position: relative;
    color: white;
}

.services_box::after {
    content: '';
    position: absolute;
    background-color: #098A5B;
    height: 82px;
    width: 2px;
    top: 80%;
    left: 50%;
}

@media screen and (max-width: 1432px) {

    .services_box::after {
        top: 88%;
    }
}

@media screen and (max-width: 953px) {

    .services_box::after {
        top: 94%;
    }

    .services_box {
        justify-content: center;
    }
}

.services_box h2 {
    margin: 40px 0px 20px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
}

.services_box p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

/* ---------------------------- Works section --------------------------*/

.works {
    background-color: #313131;
    padding-bottom: 170px;
}

.section_wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 80px;
}


.works_btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #098A5B;
    border: 2px solid #098A5B;
    padding: 17px 23px 17px 23px;
    background-color: transparent;

}

.works_btn:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    cursor: pointer;
}


.work_imgs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.work_imgs img {
    max-width: 100%;
}

@media screen and (max-width: 1439px) {
    .hidden_img {
        display: none;
    }
}